extends base.pug

block content
	if success
		for single_success in success
			div(class="alert alert-success")
				| #{single_success.msg}
	if errors
		for error in errors
			div(class="alert alert-danger")
				| #{error.msg}

	div(class="conatiner", style="margin-left: 20%; margin-right:20%;")
		div(class="row")
			if products
				for product in products
					div(class="col")
						img(src=`/img/${product.image}`, style="width: 100%; height: 200px;")
						a(href=`/product/${product.title}`)
							| #{product.title} 
						p 
							| $#{product.price}
